<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uithader</key>
		<string>uithader0</string>
		<key>uitIOD</key>
		<string>23123</string>
		<key>uitNamer</key>
		<string>Skye</string>
		<key>uitWenan</key>
		<string>On this Halloween, feel the thrill of becoming a creature of the night.</string>
		<key>uitAcloPic</key>
		<string>uitdont00^uitdont01^uitdont02</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithader1</string>
		<key>uitIOD</key>
		<string>23134</string>
		<key>uitNamer</key>
		<string>Pearl</string>
		<key>uitWenan</key>
		<string>Let Cosplay Ignite the Halloween Adventure.</string>
		<key>uitAcloPic</key>
		<string>uitdont10^uitdont11^uitdont12</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithader2</string>
		<key>uitIOD</key>
		<string>23155</string>
		<key>uitNamer</key>
		<string>Arlo</string>
		<key>uitWenan</key>
		<string>I’m so excited to explore the Halloween madness!</string>
		<key>uitAcloPic</key>
		<string>uitdont20^uitdont21^uitdont22</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithader3</string>
		<key>uitIOD</key>
		<string>23167</string>
		<key>uitNamer</key>
		<string>Sage</string>
		<key>uitWenan</key>
		<string>This costume gives me the chutzpah to face whatever spooky stuff comes my way.</string>
		<key>uitAcloPic</key>
		<string>uitdont30^uitdont31^uitdont32</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithader4</string>
		<key>uitIOD</key>
		<string>23198</string>
		<key>uitNamer</key>
		<string>Lyra</string>
		<key>uitWenan</key>
		<string>Tonight, with this character’s look, I’m gonna be the star of my own spooky story. </string>
		<key>uitAcloPic</key>
		<string>uitdont40^uitdont41^uitdont42</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithader5</string>
		<key>uitIOD</key>
		<string>23412</string>
		<key>uitNamer</key>
		<string>Jude</string>
		<key>uitWenan</key>
		<string>In Halloween&apos;s embrace, find the courage to explore the unknown and have a ball.</string>
		<key>uitAcloPic</key>
		<string>uitdont50^uitdont51^uitdont52</string>
		<key>uitisPartyuser</key>
		<string>0</string>
		<key>uitisPartyCover</key>
		<string></string>
		<key>uitisPartyThem</key>
		<string></string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithaderparty0</string>
		<key>uitIOD</key>
		<string>23321</string>
		<key>uitNamer</key>
		<string>TechW</string>
		<key>uitisPartyuser</key>
		<string>1</string>
		<key>uitisPartyCover</key>
		<string>uitisPartyCover0</string>
		<key>uitisPartyThem</key>
		<string>Halloween Rave</string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithaderparty1</string>
		<key>uitIOD</key>
		<string>23322</string>
		<key>uitNamer</key>
		<string>Wolfr</string>
		<key>uitisPartyuser</key>
		<string>1</string>
		<key>uitisPartyCover</key>
		<string>uitisPartyCover1</string>
		<key>uitisPartyThem</key>
		<string>Spooky Party</string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithaderparty2</string>
		<key>uitIOD</key>
		<string>23323</string>
		<key>uitNamer</key>
		<string>Rap</string>
		<key>uitisPartyuser</key>
		<string>1</string>
		<key>uitisPartyCover</key>
		<string>uitisPartyCover2</string>
		<key>uitisPartyThem</key>
		<string>Monster Jam</string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithaderparty3</string>
		<key>uitIOD</key>
		<string>23324</string>
		<key>uitNamer</key>
		<string>Pump</string>
		<key>uitisPartyuser</key>
		<string>1</string>
		<key>uitisPartyCover</key>
		<string>uitisPartyCover3</string>
		<key>uitisPartyThem</key>
		<string>Vampire Fiesta</string>
	</dict>
	<dict>
		<key>uithader</key>
		<string>uithaderparty4</string>
		<key>uitIOD</key>
		<string>23325</string>
		<key>uitNamer</key>
		<string>Afanti</string>
		<key>uitisPartyuser</key>
		<string>1</string>
		<key>uitisPartyCover</key>
		<string>uitisPartyCover4</string>
		<key>uitisPartyThem</key>
		<string>Pumpkin Party</string>
	</dict>
</array>
</plist>
